# Perfil de producción
spring:
  config:
    activate:
      on-profile: prod

# Configuración de logging optimizada para producción
logging:
  level:
    root: WARN
    com.tiquetera: INFO
    org.springframework: WARN
    org.hibernate: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
